.container {
  display: grid;
  width: 100%;
  height: 100vh;
  color-scheme: light dark;
  background-color: light-dark(#E9E9E9, #161616);
  grid-template-columns: 2fr 3fr;

  .auth-bg {
    background-image: url('/images/dark-bg.png');
    background-size: cover;
    background-position: center;

    @media (prefers-color-scheme: light) {
      background-image: url('/images/light-bg.png');
    }
  }
}
